@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f7f7f7;
  --background: #171617;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard), sans-serif;
}
